.site-background {
    background: linear-gradient(270deg, #c4d7e8 0%, #6499BE 100%);
}

.light_blue_background {
    background-color: #E8EFF6;
}

.center_box_mix {
    margin: auto;
    margin-top: 80px;
    width: 65%;
    border-radius: 7px;
    background-color: white;
    border-top: 5px solid #E8EFF6;
    border-bottom: 5px solid white;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.27);
}

.top-shadow {
    box-shadow: 0 1px 4px 0 rgba(37,62,96,0.8);
}

.navbar {
  background-color: white;
  height: 60px;
}

.voatz_logo {
    margin: auto;
    width:80px;
    height:25px;
}

.comelec_logo {
    height: 50px;
    width: 50px;
}

.width-75-percent {
    width: 75%;
}

.margin-auto {
    margin: auto!important;
}

.margin-top-20 {
    margin-top: 20px!important;
}

.margin-top-30 {
    margin-top: 30px!important;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-top-50 {
    padding-top: 50px;
}

.padding-bottom-25 {
    padding-bottom: 25px;
}

.padding-bottom-40 {
    padding-bottom: 40px;
}

.global_text {
    color: #141414;
    font-family: "Source Sans Pro";
    font-size: 18px;
    letter-spacing: 0.68px;
    line-height: 24px;
}

.center-text {
    text-align: center;
}

.comelec-logo-heading {
    font-weight: 600;
    letter-spacing: 0;
    line-height: 20px;
}
  
.comelec-logo-date {
  font-size: 16px;
  letter-spacing: 0.5px;
}

.welcome-text {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
}

.steps-message {
    font-style: italic;
    font-weight: 600;
    text-align: center;
}

.footer-text {
    font-size: 12px;
    letter-spacing: 0;
    line-height: 13px;
    text-align: center;
    margin-bottom: 50px;    
}

.underline-text {
    text-decoration: underline;
    text-decoration-color:darkgray; 
    text-decoration-style: solid;
}

.global_button {
    height: 45px;
    width: 173px;
    border: 2px solid #365A8A;
    border-radius: 22px;
    font-size: 12px;
    font-family: Lato;
    font-weight: bold;
    letter-spacing: 1.3px;
    text-align: center;
    cursor: pointer;
    line-height: 15px;
}

.global_button_blue {
    background-color: #365A8A;
    color: #ffffff;
}

.btn_group_container {
    height: 45px;
    position: relative;
}

.btn_container {
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline;
    position: absolute;
}

.hr_line {
    margin: 0px;
    border-top: 1px solid #365A8A;;
}

.number_circle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background: #2A78AD;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    font-family: "Source Sans Pro";
    font-weight: 600;
  }

.center_container {
    display: flex;
    align-items: center;
    justify-content: center
}

.dimension {
  width: 280px;
  padding-left: 10px;
}

@media (max-width: 500px) {
    .center_box_mix {
        width: 90%;
    }

    #steps-text {
        width:90%;
    }

}


  